<template>
    <div class="page">
        <vue-progress-bar></vue-progress-bar>
        <nav class='navbar navbar-dark bg-dark'>
            <div class='container'>
                <router-link :to="{ name: 'Trash' }" class="navbar-brand">Trash</router-link>
                <router-link :to="{ name: 'TrashtypeHome' }" class="navbar-brand">Trash Types</router-link>
            </div>
        </nav>
        <router-view></router-view>
    </div>
</template>