<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-8'>
            <div class='card'>
                <div class='card-header'>All Trash</div>
                <div class='card-body'>
                    <router-link :to="{ name: 'TrashCreate' }" class="btn btn-primary">Create new Trash</router-link>
                    <br/>
                    <br/>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="50" class="text-center">No</th>
                                    <th>Trash</th>
                                    <th>Type</th>
                                    <th width="200" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(trash, index) in trashes.data" :key="trash.id">
                                    <td width="50" class="text-center">{{ index + 1 }}</td>
                                    <td>{{ trash.trash }}</td>
                                    <td>{{ trash.type }}</td>
                                    <td width="200" class="text-center">
                                        <div class="btn-group">
                                            <router-link :to="{name: 'TrashShow', params: { id: trash.id }}" class="btn btn-primary">Detail</router-link>
                                            <router-link :to="{name: 'TrashEdit', params: { id: trash.id }}" class="btn btn-success">Edit</router-link>
                                            <button class="btn btn-danger" @click = "deletePost(trash.id)">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <table width="100%">
                                            <tr>
                                                <td width="70%">Showing Data {{ trashes.to }} From {{ trashes.total }}</td>
                                                <td width="70%">
                                                    <pagination :data="trashes" align="right" @pagination-change-page="getResults"></pagination>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
</template>
 
<script>
  export default {
      data() {
        return {
          trashes: {}
        }
      },
      created() {
        this.getResults();
    },
    methods: {
        getResults(page){
            this.$Progress.start();
            if (typeof page === 'undefined') {
                page = 1;
            }
            let uri = '/api/trash?page=' + page;
            this.axios.get(uri).then(response => {
                this.$Progress.finish()
                this.trashes = response.data;
            });
        },
        deletePost(id)
        {
            this.$swal.fire({
                title: 'Are You Sure?',
                text: "Data will permanently Deleted.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel'
                }).then((result) => {
                if (result.value) {
                    this.$Progress.start();
                    this.$swal.fire({
                        title: 'Success!',
                        text: 'Trash deleted successfully',
                        icon: 'success',
                        timer: 1000
                    });
                    let uri = `api/trash/delete/${id}`;
                    this.axios.delete(uri).then(response => {
                        this.$Progress.finish()
                        this.getResults(this.trashes.current_page)
                    });
                }
            })
        }
    }
  }
</script>