<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>Detail Trash Types</div>
                    <div class='card-body'>
                        <div class='form-group'>
                            <label htmlFor='title'>Type</label>
                            <input type="text" class="form-control" id="type" v-model="trashType.type" disabled>
                        </div>
                        <div class='form-group'>
                            <router-link :to="{ name: 'TrashtypeHome' }" class="btn btn-secondary">Back</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
        return {
            trashType:{},
        }
    },
    created() {
        this.$Progress.start()
        let uri = `/api/trash_types/show/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.$Progress.finish()
            this.trashType = response.data;
        });
    },
    method: {
    }
  }
</script>