<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>Edit Trash</div>
                    <div class='card-body'>
                        <div class="alert alert-danger" v-if="errors.length">
                            <b>Terdapat kesalahan dalam input data:</b>
                            <ul>
                                <li v-for="error in errors" :key="error">{{ error }}</li>
                            </ul>
                        </div>
                        <form @submit.prevent="updateTrash">
                            <div class='form-group'>
                                <label htmlFor='title'>Trash</label>
                                <input type="text" class="form-control" id="type" v-model="trash.trash">
                            </div>
                            <div class='form-group'>
                                <label htmlFor='title'>Type</label>
                                <select class="form-control" v-model="trash.types_id">
                                    <option v-for="(types, index) in trash_types" :key="index" :value="types.id">{{ types.type }}</option>
                                </select>
                            </div>
                            <div class='form-group'>
                                <router-link :to="{ name: 'Trash' }" class="btn btn-secondary">Back</router-link>
                                &nbsp;
                                &nbsp;
                                <button class='btn btn-primary'>Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
        return {
            trash:{},
            trash_types: [],
            errors: [],
            title: null,
            content: null,
        }
    },
    async created() {
        this.$Progress.start()
        let uritypes = '/api/trash_types?format=select';
        await this.axios.get(uritypes).then(responsetypes => {
            this.trash_types = responsetypes.data;
        });
        let uri = `/api/trash/show/${this.$route.params.id}`;
        await this.axios.get(uri).then((response) => {
            this.$Progress.finish()
            this.trash = response.data;
        });
    },
    methods: {
        updateTrash(e){
             
            if (this.$data.trash.trash != null && this.$data.trash.types_id != null) {
                this.$Progress.start()
                this.$swal.fire({
                    title: 'Success',
                    text: "Trash updated successfully",
                    icon: 'success',
                    timer: 1000
                });
                let uri = `/api/trash/update/${this.$route.params.id}`;
                this.axios.put(uri, this.trash).then((response) => {
                    this.$router.push({name: 'Trash'});
                    this.$Progress.finish()
                });
                return true;
            }
 
 
            this.errors = [];
 
            if (!this.trash) {
                    this.errors.push('Nama Sampah wajib diisi !');
            }
            if (!this.types_id) {
                this.errors.push('Jenis Sampah wajib diisi !');
            }
 
            e.preventDefault();
        }
    }
  }
</script>