<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>Edit Trash Types</div>
                    <div class='card-body'>
                        <div class="alert alert-danger" v-if="errors.length">
                            <b>Terdapat kesalahan dalam input data:</b>
                            <ul>
                                <li v-for="error in errors" :key="error">{{ error }}</li>
                            </ul>
                        </div>
 
                        <form @submit.prevent="updateTrashType">
                            <div class='form-group'>
                                <label htmlFor='title'>Type</label>
                                <input type="text" class="form-control" id="type" v-model="trashType.type">
                            </div>
                            <div class='form-group'>
                                <router-link :to="{ name: 'TrashtypeHome' }" class="btn btn-secondary">Back</router-link>
                                &nbsp;
                                &nbsp;
                                <button class='btn btn-primary'>Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
        return {
            trashType:{},
            errors: [],
            title: null,
            content: null,
        }
    },
    created() {
        this.$Progress.start()
        let uri = `/api/trash_types/edit/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.trashType = response.data;
            this.$Progress.finish()
        });
    },
    methods: {
        updateTrashType(e){
             
            if (this.$data.trashType.type != null) {
                this.$Progress.start()
                this.$swal.fire({
                    title: 'Success',
                    text: "Trash Types updated successfully",
                    icon: 'success',
                    timer: 1000
                });
                let uri = `/api/trash_types/update/${this.$route.params.id}`;
                this.axios.put(uri, this.trashType).then((response) => {
                    this.$router.push({name: 'TrashtypeHome'});
                    this.$Progress.finish()
                });
                return true;
            }
 
 
            this.errors = [];
 
            if (!this.type) {
                this.errors.push('Nama Type wajib diisi !');
            }
 
            e.preventDefault();
        }
    }
  }
</script>